# Variables à adapter dans la CI cliente avant l’export CAST.

APPLICATION="<APPLICATION>"
APPLICATION_VERSION="<APPLICATION_VERSION>"
TARGET_LABEL="<TARGET_LABEL>"
TARGET_OS="<TARGET_OS>"
TARGET_OS_VERSION="<TARGET_OS_VERSION>"
TARGET_ARCH="<TARGET_ARCH>"
BUILD_TYPE="<BUILD_TYPE>"

COMPILER="<COMPILER>"
COMPILER_VERSION="<COMPILER_VERSION>"
COMPILER_VARIANT="<COMPILER_VARIANT>"

CONAN_VERSION="<CONAN_VERSION>"
HOST_PROFILE="<HOST_PROFILE>"
BUILD_PROFILE="<BUILD_PROFILE>"
HOST_PROFILE_FILE="$CI_PROJECT_DIR/profiles/<HOST_PROFILE>"
BUILD_PROFILE_FILE="$CI_PROJECT_DIR/profiles/<BUILD_PROFILE>"
CONAN_LOCKFILE="$CI_PROJECT_DIR/conan.lock"

SRC_ROOT="$CI_PROJECT_DIR/src"
GENERATED_ROOT="$CI_PROJECT_DIR/generated"
BUILD_ROOT="$CI_PROJECT_DIR/build"
ARTIFACT_DIR="$CI_PROJECT_DIR/build/cast"

COMPILE_COMMANDS_JSON="$BUILD_ROOT/compile_commands.json"
BUILD_LOG="$BUILD_ROOT/build.log"
CONAN_GRAPH_JSON="$BUILD_ROOT/cast/conan-graph.json"
CONAN_PACKAGES_JSON="$BUILD_ROOT/cast/packages.pre-export.json"
COMPILER_PROBE_DIR="$BUILD_ROOT/cast/compiler"

SDK_ROOT=""
CODE_GENERATOR_VERSION=""
CODE_GENERATION_ID=""
